<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Login</a></li>
    <li><a ng-href="#">Sign Up</a></li>
  </ul>

  <h3 class="text-muted"><img src="images/logo.png" height="83" width="61"></h3>
</div>

<div class="jumbotron">
  <p class="lead">
    <img src="images/logo.png" alt="I'm catchit"><br>
    Carpooling made easy
  </p>
  <div class="login_opt">
   <p><a class="btn btn-lg" ng-href="#">Sign in with facebook</a></p>
   <p><a class="btn btn-lg" ng-href="#">Sign in with email</a></p>
   <p>New to Catch-a-Ride?</p>
   <p><a class="btn btn-lg" ng-href="#">Create Account</a></p>
  </div>
</div>




<div class="footer">
  <!-- <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p> -->
</div>
